<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../CSs/profile.css">
</head>
<body>
    <div class="container align-items-center mt-0">
        <div class="row g-3">

            <h1 class="text-center">User profile</h1>
            <div class="card-body col-md-6">
                <label>Names:
                    <p><%= user.names %></p>
                </label>

            </div>
            <div class="card-body col-md-6">
                <label>Last names:
                    <p><%= user.lastNames %></p>
                </label>
            </div>
            <div class="card-body col-md-6">
                <label>Type id:
                    <p><%= user.typeID %></p>
                </label>
            </div>
            <div class="card-body col-md-6">
                <label>Id:
                    <p><%= user.ID %></p>
                </label>
            </div>
            <div class="card-body col-md-6">
                <label>Role:
                    <p><%= user.Role %></p>
                </label>
            </div>
            <div class="card-body col-md-6">
                <label>Email:
                    <p><%= user.user %></p>
                </label>
            </div>
            <div class="row" style="display: flex; justify-content: space-between; align-items: center;">
                <div class="col-md-6" style="display: flex; justify-content: flex-start;">
                    <button type="button" class="btn btn-danger" id="backButton">Back</button>
                </div>
                <div class="col-md-6" style="display: flex; justify-content: flex-end;">
                    <button type="button" class="btn btn-danger btn-sm me-2" id="btnDelete">Delete user</button>
                    <button type="button" class="btnUpdate btn btn-new btn-sm">Edit user</button>
                </div>
            </div>

        </div>
    </div>




    <div>
        <div  id="modalUsers" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateUserForm" method="POST">
                        <input name="idUpdate" id="idUpdate" type="text" hidden>
                        <div class="mb-3">
                        <label for="namesUpdate" class="col-form-label">Names: <span class="required-asterisk">*</label>
                        <input disabled type="text" class="form-control" id="namesUpdate" name="namesUpdate">
                        </div>
                        <div class="mb-3">
                            <label for="lastNamesUpdate" class="col-form-label">Last names: <span class="required-asterisk">*</label>
                            <input disabled type="text" class="form-control" id="lastNamesUpdate" name="lastNamesUpdate">
                        </div>
                        <div class="mb-3">
                            <label for="typeIDupdate" class="col-form-label">Type ID: <span class="required-asterisk">*</span></label>
                            <select disabled id="typeIDupdate" name="typeIDupdate" class="form-control">
                            <option selected disabled value="">Choose...</option>
                            <option value="Foreign ID">Foreign ID</option>
                            <option value="ID">ID</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="IDupdate" class="col-form-label"> ID: <span class="required-asterisk">*</label>
                            <input disabled type="text" class="form-control" id="IDupdate" name="IDupdate">
                        </div>
                        <div class="mb-3">
                            <label for="RoleUpdate" class="col-form-label">Role: <span class="required-asterisk">*</span></label>
                            <select disabled id="RoleUpdate" name="RoleUpdate" class="form-select">
                            <option selected disabled value="">Choose...</option>
                            <option value="Vet">Veterinary</option>
                            <option value="Pet owner">Pet owner</option>
                            <option value="Admin">Admin</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="userUpdate" class="col-form-label">Username (Email): <span class="required-asterisk">*</label>
                            <input disabled type="text" class="form-control" id="userUpdate" name="userUpdate">
                        </div>
                        <div class="mb-3">
                            <label for="passwordUpdate" class="col-form-label">Password: </label>
                            <input type="password" class="form-control" id="passwordUpdate" name="passwordUpdate">
                        </div>
                        <div class="modal-footer">
                            <div class="error-message text-danger text-center" id="warnings"></div>
                            <div id="valid" class=" text-success text-center"></div>
                            <button type="button" class="btn btn-secondary btn-danger" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-new" id="btnEdit">Update</button>
                        </div>
                    </form>
                </div>  
            </div>
            </div>
        </div>
    </div>
    

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../JS/profile.js"></script>
    <script src="../JS/whatsapp.js"></script>

</body>
</html>